# AI tools and docs
/_bmad/*
/_bmad/_config/*
/_bmad-output/**
/.vscode/
/.claude/*
/.cursor/*
/.github/*
!/.github/workflows/
!/.github/workflows/*
/.codex/*
/.agents/*

# temporary docs
/docs/archive/
/docs/prompts/
**/samples/**

# Playwright
**/.playwright-cli/
auth.json
.pw-profile/
**/extraction/raw/**
**/extraction/scripts/**

# temporary files
*.log
.DS_Store
*.tmp
*.bak
